<br/>
<div class="text-center">
    <h2 class="display-4">Store Reports</h2><br/>

</div>
<div class="text-center">
  <a asp-controller="Store" asp-action="get" asp-route-id="2">Store Sales History for the Month</a><br/>
  <a asp-controller="Store" asp-action="get" asp-route-id="3">Store Order History for the Month</a><br/>
  <br/>
  <a asp-controller="Store" asp-action="post" asp-route-id="4">Search Movies by Title</a><br/>
</div>

