@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="text-center">
    <h2 class="display-4">Store Reports</h2><br/>

</div>
<div class="text-center">
  <a asp-controller="Store" asp-action="post" asp-route-id="2">Store Sales History for the Month</a><br/>
  <a asp-controller="Store" asp-action="post" asp-route-id="3">Store Order History for the Month</a><br/>
</div>

