@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PizzaWorld!</h1>
    <p>We provide contactless delivery options to your doorstep for your convenience.</p>
</div>
