@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please take a few minutes to read the following policy so that you understand how we treat your information. As we continuously improve and expand our services, this policy might change, so please check it periodically.</p>
<br>

<p>This Privacy Policy applies to the PizzaWorld's Pizza online web site (localhost), PizzaWorld platforms and applications owned and operated by PizzaWorld, Inc.. This Privacy Policy describes how PizzaWorld collects, uses, and shares information provided through the Web Sites and Applications and information received from other sources. It also describes your rights and choices regarding our use and sharing of your information, including how you can access and update such information.</p>
<br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus quae a quis laboriosam beatae unde magnam aliquid nam iure quod suscipit obcaecati voluptatum rerum, sed consequatur nostrum esse laudantium!</p>